#root-div{
  height: 300px;
  display: inline-block;
}

.card-div {
  position: absolute;
  border: 1px solid lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
 /* width: 300px;
  height: 150px;*/
  background: white;
}

#next{
  position: relative;
}