@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
body{position: relative; padding: 0px; margin: 0px;}
.ie-logo-image {
  height: 50px;
}
.text-area{
  display: inline-block;
}
.gender-text{
  font-family: 'Open Sans', sans-serif; 
  font-weight: 700;
  font-size: 20px; 
  line-height: 17px;
}
.red-text{
  color: #C01526;
}
.mast__text{
  font-size: 20px; 
  font-family: arial; 
  letter-spacing: 1px;
}
.ie-title{
  font-family: arial; 
  font-weight: 100; 
  font-size: 9px; 
  line-height: 20px
}
