/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Halant');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:500');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  position: relative;
  // width: 600px;
  overflow: hidden;
  height: 900px;
  /*font-family: 'Noto Sans', sans-serif;*/
  // font-family: 'Halant', serif;
  font-family: 'Droid Serif', serif;
  // font-family: 'Mukta Vaani', sans-serif;
  font-size: 16px;
}
// .loading-card {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-color: white;
//   opacity: 1;
//   z-index: 500;
// }
// .loading-text {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
.card-stack {
  position: relative;
  width: 500px;
  // height: 300px;
  top: -75px;
  left: 50%;
  margin-left: -250px;
}
.question-card, .intro-card, .conclusion-card {
  position: absolute;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  left: 50%;
  top: 0px;
  margin-left: -250px;
  transition: left 0.5s, opacity 0.5s;
  -webkit-transition: left 0.5s, opacity 0.5s;
}
.intro-card {
  display: none;
  background: white;
  top: -75px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  left: 50%;
  margin-left: -250px;
  padding: 0px 20px;
  box-sizing: border-box;
}
.question-card {
  background: transparent;
  transition: transform 1s, left 1s, top 1s;
  -webkit-transition: -webkit-transform 1s, left 1s, top 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.conclusion-card {
  display: none;
  background: white;
  top: -75px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  left: 50%;
  margin-left: -250px;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: transform 1s, left 1s;
  -webkit-transition: -webkit-transform 1s, left 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.intro-card {
  z-index: 400;
}
.intro-button, .intro-header, .intro-description {
  /*padding: 10px;*/
}
.question {
  margin-bottom: 25px;
  padding: 15px 25px 0px;
  line-height: 1.5em;
  // text-align: center;
  font-size: 1.2em;
}
.option-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.option-div:hover {
  // background: #2196F3;
  background: #1e88e5;
    color: white;
}
.option-div:active {
  // background: #1f86d8;
  background-color: #2192f6;
    color: white;
}
.option-div {
  transition: background 0.25s;
  -webkit-transition: background 0.25s;
  padding: 15px 25px 15px;
  // border-top: 1px solid #e2e2e2;
  // border-bottom: 1px solid #e2e2e2;
  width: 65%;
  // border: 1px solid #e2e2e2;
  margin-top: 15px;
  text-align: center;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  background-color: #efefef;
}
.option-div, .next, .intro-button {
  cursor: pointer;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  // -webkit-perspective: 1000px;
  // perspective: 1000px;
}
.question-card.clicked .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 5px;
  backface-visibility: hidden;
  box-sizing: border-box;
}
.front .title {
  display: none;
}
.back .title,.front .title {
  padding: 20px 25px 0px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #a8a8a8;
  font-family: sans-serif;
}
.back {
  transform: rotateY( 180deg );
}
.question-number{
  // position: absolute;
  // bottom: 5px;
  // left: 50%;
  // transform: translateX(-50%);
  font-size: 12px;
  color: #a8a8a8;
  font-family: sans-serif;
  margin-top: 25px;
  margin-left: 25px;
}
.current-question {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.gif-div {
  // width: 50%;
  // float: left;
  text-align: center;
  padding: 0px 25px;
}
.gif-div > img{
  max-height: 150px;
  width: 100%;
}
.front .answers-container {
  display: none;
}
.answers-container {
  padding: 0px 25px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.correct-answer {
  font-size: 18px;
}
.wrong-answer {
  font-size: 15px;
}
.correct-answer, .wrong-answer {
  padding-bottom: 12px;
}
.correct-answer.deselected {
  opacity: 0.3;
}
.tick-marker, .cross-marker {
  padding: 0px 3px;
  border-radius: 20px;
  color: white;
  margin-left: 5px;
}
.tick-marker {
  background: #18B99E;
}
.cross-marker {
  background: #DB5858;
}
.clear-both {
  clear: both;
}
.fact {
  padding: 10px 25px 0px;
  line-height: 1.5em;
  font-size: 15px;
}
.next, .reset, .help-text {
  position: absolute;
  display: none;
  right: 15px;
  top: 750px;
  cursor: pointer;
  font-family: sans-serif;
}
.help-text {
  cursor: auto;
  color: #1e88e5;
}
.next, .reset {
  // background: #1f86d8;
  background: #1e88e5;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}
.next:hover, .reset:hover {
  // background-color: #2196F3;
  background-color: #2192f6;
}
.answer {
  padding: 10px 25px 0px;
  line-height: 1.5em;
  font-size: 15px;
}
.swipe-hint-container {
  text-align: center;
  font-size: 12px;
  position: absolute;
  width: 100%;
  bottom: 45px;
}
.front .swipe-hint-container {
  display: none;
}
.progress-bar {
  height: 3px;
  // margin: 0px 25px;
  position: absolute;
  left: 25px;
  right: 25px;
  background: #EFEFEF;
  bottom: 30px;
}
.progress-indicator {
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: #168BE5;
  background: -webkit-linear-gradient(left, #D6EDFF , #168BE5); /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left, #D6EDFF , #168BE5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #D6EDFF, #168BE5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #D6EDFF, #168BE5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #D6EDFF , #168BE5); /* Standard syntax (must be last) */
}
.intro-header {
  padding: 70px 5%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 15px;
}
.intro-description {
  padding: 10px 25px 0px;
  margin-bottom: 35px;
  line-height: 1.5em;
  font-size: 1em;
}
.intro-button-div {
  text-align: center;
}
.intro-button {
  border: 0;
  text-align: center;
  padding: 10px 15px;
  // border: 1px solid lightgrey;
  border-radius: 4px;
  // background: #1f86d8;
  background: #1e88e5;
  color: white;
  // font-weight: 300;
  font-family: sans-serif;
  font-size: 1.2em;
  animation: jiggle 2s infinite ease-in;
}
.intro-button:hover {
  // background-color: #2196F3;
  background-color: #2192f6;
  color: white;
}
.credits {
  position: absolute;
  font-size: 9px;
  right: 25px;
  bottom: 10px;
  font-family: sans-serif;
}
.credits > a {
  text-decoration: none;
  color: #AAA;
}
.correct-wrong-indicator {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 700;
}
.correct-background {
  background: rgba(24, 185, 158, 0.9);
}
.wrong-background {
  background: rgba(219, 88, 88, 0.9);
}
.tick-background {
  position: absolute;
  width: 120px;
  height: 120px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  opacity: 1;
  border-radius: 120px;
}
.tick-background span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}
.correct-tick {
  color: #18B99E;
}
.wrong-tick {
  color: #DB5858;
}
.correct-wrong-text {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  font-size: 30px;
  font-weight: bold;
}
.buttons-container {
  padding: 12px 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.result-container {
  text-align: center;
  margin: 20px 0px 25px;
}
.result-img {
  width: 100px;
}
.card-button {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}
.card-button ~ .card-button {
  border-left: 1px solid lightgray;
}
.card-button-text {
  margin-top: 5px;
}
.clearfix {
  clear: both;
}
.links-container {
  margin-top: 10px;
}
.single-link {
  margin-bottom: 10px;
}
.link-img {
  width: 25%;
  height: 50px;
  float: left;
}
.link-info {
  width: 75%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.link-title {
  height: 50px;
  overflow: hidden;
}
.card-slider {
  display: none;
}
@keyframes jiggle {
  45%, 65% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  55% {
    transform: scale(0.9, 1.1) translate(0, -5px);
  }
  60% {
    transform: scale(1.0, 1.0) translate(0, -5px);
  }
}

// .swipe-hint-animation {
//   position: relative;
//   height: 20px;
// }
// .swipe-hint-animation span {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   width: 10px;
//   height: 10px;
//   margin-left: -5px;
//   border-left: 1px solid #000;
//   border-bottom: 1px solid #000;
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
//   -webkit-animation: swipeKey 2s infinite;
//   animation: swipeKey 2s infinite;
//   opacity: 0.2;
//   box-sizing: border-box;
// }
// .swipe-hint-animation span:nth-of-type(1) {
//   -webkit-animation-delay: .3s;
//   animation-delay: .3s;
// }
// .swipe-hint-animation span:nth-of-type(2) {
//   top: 5px;
//   -webkit-animation-delay: .15s;
//   animation-delay: .15s;
// }
// .swipe-hint-animation span:nth-of-type(3) {
//   top: 10px;
//   -webkit-animation-delay: 0s;
//   animation-delay: 0s;
// }
// @-webkit-keyframes swipeKey {
//   0% {
//     opacity: 0.2;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.2;
//   }
// }
// @keyframes swipeKey {
//   0% {
//     opacity: 0.2;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0.2;
//   }
// }

@media only screen and (max-width: 500px) {
  .card-stack, .intro-card, .conclusion-card {
    top: -110px;
  }
  .intro-description {
    margin-bottom: 30px;
  }
  .help-text, .reset {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    right: auto;
  }
  .credits {
    // left: 50%;
    // transform: translateX(-50%);
    white-space: nowrap;
    // right: auto;
  }
}